.body {
    display: grid;
    grid-template-rows: 70px 620px 60px;
    gap: 10px;
    padding: 0px;
    background-repeat: no-repeat;
}

.titulo {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: center;
    font-size: 45px;
    color: rgba(0, 172, 252, 0.842);
}

.subtitulos {
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
    text-align: 50px;
    font-size: 35px;
    color: #0b4e7a;

}

.cuerpo {
    display: grid;
    grid-template-columns: 400px 1000px;
    border-style: none;
}

.menu {
    background: rgba(158, 158, 158, 0);
    width: 200px;
    height: 600px;
    align-content: center;
    text-align: justify;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.849);
    /*overflow-y: scroll;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    word-wrap: break-word;
    border-radius: 15px;
}
.notas {
    background: rgba(158, 158, 158, 0);
    width: 800px;
    height: 580px;
    align-content: center;
    text-align: justify;
    font-size: 20px;
    color: rgb(255, 255, 255);
    /*overflow-y: scroll;*/
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    word-wrap: break-word;
    border-radius: 15px;
}

.pie {
    font-family: sans-serif;
    font-weight: bold;
    margin: auto;
    text-align: left;
    font-size: 20px;
    color: rgba(221, 96, 165, 0.39);
}

.button {
    width: 200px;
    height: 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
    margin-top: 50px;
    text-align: center;
    background-color: #ffee00e1;
    border: 0px;
    border-radius: 15px;
    box-shadow: 0 7px #999;
}

.button:hover {
    background-color: #f7f31e8c
}

.button:active {
    background-color: #ebdc53;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}